{% if is_home %}

	{% endif %}

<body class="bg-gray-200 font-sans leading-normal tracking-normal">

	<!--Header-->
	<div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('http://reto1.local/wp-content/uploads/2022/10/market-g4734caa8b_1920.jpg'); height: 60vh; max-height:460px;">
			<div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
				<!--Title-->
					<p class="text-white font-extrabold text-3xl md:text-5xl">Carne</p>
			</div>
		</div>
		
		<!--Container-->
		<div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">
							

					
				
		
				<div class="flex flex-wrap justify-between pt-12 -mx-6">
		

					<div class="w-full md:w-2/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="#" class="flex flex-wrap no-underline hover:no-underline">
								<img src="http://reto1.local/wp-content/uploads/2022/10/carne.jpeg" class="h-80 w-200 rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Categoria: </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Carne</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									Lorem ipsum eu nunc commodo posuere et sit amet ligula. 
								</p>
							</a>
						</div>
						
					</div>
				<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Categoria: </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Arroz</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									Lorem ipsum eu nunc commodo posuere et sit amet ligula. 
								</p>
							</a>
						</div>
						
					</div>

			<!--1/3 col -->
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="#" class="flex flex-wrap no-underline hover:no-underline">
								<img src="http://reto1.local/wp-content/uploads/2022/10/arroz.jpg" class="h-80 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Categoria: </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Arroz</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									Lorem ipsum eu nunc commodo posuere et sit amet ligula. 
								</p>
							</a>
						</div>
						
					</div>
						<!--<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
								<p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
							</div>
						</div>-->

								<!--1/3 col -->
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="#" class="flex flex-wrap no-underline hover:no-underline">
								<img src="http://reto1.local/wp-content/uploads/2022/10/aceite.jpg" class="h-80 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Categoria: </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Aceite</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									Lorem ipsum eu nunc commodo posuere et sit amet ligula. 
								</p>
							</a>
						</div>
						
					</div>
													<!--1/3 col -->
					<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
						<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="#" class="flex flex-wrap no-underline hover:no-underline">
								<img src="http://reto1.local/wp-content/uploads/2022/10/pasta.jpg" class="h-80 w-full rounded-t pb-6">
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">Categoria: </p>
								<div class="w-full font-bold text-xl text-gray-900 px-6">Pasta</div>
								<p class="text-gray-800 font-serif text-base px-6 mb-5">
									Lorem ipsum eu nunc commodo posuere et sit amet ligula. 
								</p>
							</a>
						</div>
						
					</div>



				<!--/ Post Content-->
						
			</div>

	
				<!--Author-->
				<div class="flex w-full items-center font-sans p-8 md:p-24">
					<img class="w-10 h-10 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of Author">
					<div class="flex-1">
						<p class="text-base font-bold text-base md:text-xl leading-none">Ultimo comentario</p>
						<p class="text-gray-600 text-xs md:text-base">¡Muy buenos productos!</p>
					</div>

				</div>
				<!--/Author-->
			
		</div>
	{% block footer %}
				{% include 'footer.twig' %}
	{% endblock %}

	</div>

	

